@model IEnumerable<News>

@{
    ViewData["Title"] = "Bizden Haberler";
}

<div class="row my-5">
    <h2>
        Bizden Haberler
    </h2>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_NewsPartial", item)
    }
</div>